*/obj/
*/bin/
obj/
bin/
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/obj/Debug/net7.0/ConsoleApp1.assets.cache
ConsoleApp1/obj/Debug/net7.0/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/obj/project.assets.json
ConsoleApp1/obj/project.nuget.cache
ConsoleApp1/obj/project.packagespec.json
ConsoleApp1/obj/rider.project.restore.info
MovieServer/Repository/UserRepository.cs
MovieServer/bin/Debug/net7.0/MovieServer.dll
MovieServer/bin/Debug/net7.0/MovieServer.pdb
MovieServer/obj/Debug/net7.0/MovieServer.assets.cache
MovieServer/obj/Debug/net7.0/MovieServer.csproj.AssemblyReference.cache
MovieServer/obj/Debug/net7.0/MovieServer.csproj.CoreCompileInputs.cache
MovieServer/obj/Debug/net7.0/MovieServer.dll
MovieServer/obj/Debug/net7.0/MovieServer.pdb
MovieServer/obj/Debug/net7.0/ref/MovieServer.dll
MovieServer/obj/Debug/net7.0/refint/MovieServer.dll
MovieServer/obj/MovieServer.csproj.nuget.dgspec.json
MovieServer/obj/project.assets.json
MovieServer/obj/project.nuget.cache
MovieServer/obj/project.packagespec.json
MovieServer/obj/rider.project.restore.info
PresentationTier/PresentationTier.csproj
