# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
packages
bin
obj
.vs
.dtbcache.v2
FolderProfile.pubxml.user
## NuGet Packages
*.nuget.props
*.nuget.targets

# NuGet Packages Folder
/packages/

# .NET Core
project.lock.json
project.fragment.lock.json
