<h3>Create Account</h3>
@page "/Register"
@using PresentationTier.Models
@using MovieServer.Models
@using PresentationTier.Data
@using PresentationTier.Utilities
@inject NavigationManager navigationManager
@inject IUserService userService


<PageTitle>Create Account</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <EditForm Model="@user" OnValidSubmit="SaveAccount" class="form">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <InputText class="form-control" id="username" @bind-Value="user.Username" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password:</label>
                        <InputText class="form-control" id="password" type="password" @bind-Value="user.Password" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="backdropPicture">BackDrop:</label>
                    <InputFile class="form-control" id="backdropPicture" OnChange="HandleBackdropPictureSelection"></InputFile>
                </div>

                <div class="form-group">
                    <label for="profilePicture">Profile Picture:</label>
                    <InputFile class="form-control" id="profilePicture" OnChange="HandleProfilePictureSelection"></InputFile>
                </div>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <InputText class="form-control" id="name" @bind-Value="user.Name"></InputText>
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth:</label>
                    <InputDate class="form-control" id="dateOfBirth" @bind-Value="user.DateOfBirth" />
                </div>


                <div class="form-group">
                    <label for="email">Email:</label>
                    <InputText class="form-control" id="email" @bind-Value="user.Email"></InputText>
                </div>

                <div class="form-group">
                    <label for="countryCode">Country Code Number:</label>
                    <InputNumber class="form-control" id="countryCode" @bind-Value="user.CountryCallingCode"></InputNumber>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <InputNumber class="form-control" id="phoneNumber" @bind-Value="user.PhoneNumber"></InputNumber>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary mr-2">Create Account</button>
                    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
    private User user = new User();
    private IBrowserFile backdropImage;
    private IBrowserFile profileImage;



    private async Task HandleBackdropPictureSelection(InputFileChangeEventArgs e)
    {
        backdropImage = e.File;
    }

    private async Task HandleProfilePictureSelection(InputFileChangeEventArgs e)
    {
       profileImage = e.File;
    }

    private async Task SaveAccount()
    {
        try
        {
            
            // Call the user service to register the user
            await userService.SaveAccount(user, profileImage, backdropImage);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error creating user: {ex.Message}");
            // Handle the error appropriately (e.g., display an error message)
        }
    }

    

    private void Cancel()
    {
        // Redirect to the cancel page or navigate to another route
        navigationManager.NavigateTo("/");
    }
}
