.page[b-xp7kt5tolp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xp7kt5tolp] {
    flex: 1;
}

.sidebar[b-xp7kt5tolp] {
    background-color: #333333;
}

.top-row[b-xp7kt5tolp] {
    background-color: #1a1a1a; 
    border-bottom: 1px solid #333333; 
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xp7kt5tolp]  a, .top-row .btn-link[b-xp7kt5tolp] {
        color: #ffffff; 
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xp7kt5tolp] {
        color: #ff6f00; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row.auth[b-xp7kt5tolp] {
        background-color: #333333;
        justify-content: space-between;
    }

    .top-row a[b-xp7kt5tolp], .top-row .btn-link[b-xp7kt5tolp] {
        margin-left: 0;
    }

@media (min-width: 641px) {
    .page[b-xp7kt5tolp] {
        flex-direction: row;
    }

    .sidebar[b-xp7kt5tolp] {
        background-color: #1a1a1a; 
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xp7kt5tolp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-xp7kt5tolp], article[b-xp7kt5tolp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
