/* _content/PresentationTier/Shared/MainLayout.razor.rz.scp.css */
.page[b-xp7kt5tolp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xp7kt5tolp] {
    flex: 1;
}

.sidebar[b-xp7kt5tolp] {
    background-color: #333333;
}

.top-row[b-xp7kt5tolp] {
    background-color: #1a1a1a; 
    border-bottom: 1px solid #333333; 
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xp7kt5tolp]  a, .top-row .btn-link[b-xp7kt5tolp] {
        color: #ffffff; 
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xp7kt5tolp] {
        color: #ff6f00; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row.auth[b-xp7kt5tolp] {
        background-color: #333333;
        justify-content: space-between;
    }

    .top-row a[b-xp7kt5tolp], .top-row .btn-link[b-xp7kt5tolp] {
        margin-left: 0;
    }

@media (min-width: 641px) {
    .page[b-xp7kt5tolp] {
        flex-direction: row;
    }

    .sidebar[b-xp7kt5tolp] {
        background-color: #1a1a1a; 
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xp7kt5tolp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-xp7kt5tolp], article[b-xp7kt5tolp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PresentationTier/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ykp9f82mjt] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ykp9f82mjt] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ykp9f82mjt] {
    font-size: 1.1rem;
}

.oi[b-ykp9f82mjt] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ykp9f82mjt] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ykp9f82mjt] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ykp9f82mjt] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ykp9f82mjt]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ykp9f82mjt]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ykp9f82mjt]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ykp9f82mjt] {
        display: none;
    }

    .collapse[b-ykp9f82mjt] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
