@inherits LayoutComponentBase

@inject NavigationManager navigationManager

@using LoginComponent

<PageTitle>PresentationTier</PageTitle>
<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <RadzenButton Text="Log in" Click="LogIn"/> *@
            <LoginPage/>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private void LogIn()
    {
    // Redirect to the cancel page or navigate to another route
        navigationManager.NavigateTo("/login");
    }
}
